<!DOCTYPE html>
<html
	xmlns="http//www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Add card</title>
</head>
<body>
	<span id="userNick" th:text="${username}" style="display:none;">username</span>
	<header id="header" class="alt" th:include="header :: headerMenu"></header>
	<div class="container" id="container">
		<div class="menu" th:include="menu :: menuBlock"></div>
		<div class="contents" id="contents">
			<form method="POST" enctype="multipart/form-data" th:object="${cardModel}">
				<table>
					<tr>
						<td >
							<label>Title</label>:<br/>
							<textarea cols="50" rows="1" th:field="${cardModel.card.title}"></textarea>
						</td>
						<td th:if="${#fields.hasErrors('${cardModel.card.title}')}" th:errors="${cardModel.card.title}">Nick Error</td>
					</tr>
					<tr>
						<td>
							<label>Category</label>:<br/>
							<select th:field="*{card.categoryName}">
								<option th:each="category,iterationStatus  : ${categories}" th:text="${category.name}" th:value="${category.name}"></option>
							</select> 
						</td>
					</tr>
					<tr>
						<td>
							<label>Tags</label>:<br/>
							<textarea cols="50" rows="1" th:field="*{tags}"></textarea>
						</td>
						<td th:if="${#fields.hasErrors('*{tags}')}" th:errors="*{tags}">Nick Error</td>
					</tr>
					<tr>
						<td>
							<label>Description</label>:<br/>
							<textarea cols="50" rows="5" th:field="*{card.description}"></textarea>
						</td>
						<td th:if="${#fields.hasErrors('card.description')}" th:errors="card.description">Password Error</td>
					</tr>
					<tr>
						<td><input type="submit" value="Add" /></td>
					</tr>
				</table>
			</form>
		</div>
		<div class="chatContents" id="chatContents" style="display:none;"></div>
	</div>
</body>
</html>