<!DOCTYPE html>
<html
	xmlns="http//www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
	<header id="header" class="alt" th:include="header :: headerMenu"></header>
	
	<table>
      <tr><h1>Cards</h1><hr></tr>
      <tr th:each="card : ${cards}">
      	<table>
      		<tr><a th:href="@{/profile/} + ${card.userNick}" th:text="${card.userNick}">Author</a></tr>
      		<tr><h2><td th:text="${card.title}">Title</td></h2></tr>
      		<tr><td th:text="${card.description}">Description</td></tr>
      	</table>
      </tr>
    </table>
	
	<div id="footer" class="alt" th:include="footer :: footerBlock"></div>
</body>
</html>