
<!DOCTYPE html>
<html
	xmlns="http//www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
	<header id="header" class="alt" th:include="header :: headerMenu"></header>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script type="text/javascript">
	    
    	socket = new SockJS('http://localhost:8080/BuyMyTime/greeting');	
        var stomp = Stomp.over(socket);
        var payload = JSON.stringify({'name':'Jasiek'});
        stomp.connect('guest', 'guest', function(frame){
        	console.log("Connected");
            stomp.send("/BuyMyTime/marco", {}, payload);
            stomp.subscribe("/topic/shout", handleMessage);
        });
        
        function handleMessage(incoming){
        	var message = JSON.parse(incoming.body);
        	console.log('Received: ', message);
        }

    </script>
	<div id="footer" class="alt" th:include="footer :: footerBlock"></div>
</body>
</html>