<!DOCTYPE html>
<html
	xmlns="http//www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
	<header id="header" class="alt" th:include="header :: headerMenu"></header>
	
	<div id="loginDialog" title="Sign in" style="display:none;">
	  <form name='f' method="POST" th:action="@{/login}">
		<table>
			<tr>
				<td>
					<label>Username</label>:
					<input type="text" name="username" /><br/>
				</td>
			</tr>
			<tr>
				<td>
					<label>Password</label>:
					<input type="password" name='password'/><br/>
				</td>
			</tr>
			<tr>
				<td><input type="submit" name='submit' value="Login" class="ui-button ui-widget ui-corner-all"/></td>
			</tr>
		</table>
	  </form>
	  Do not sign up yet?
	  <button id="registerButton" class="ui-button ui-widget ui-corner-all" th:href="@{/register}">Register</button>
    </div>
    
    <div id="registerDialog" title="Sign up" style="display:none;">
    <form method="POST" th:action="@{/register}" enctype="multipart/form-data" th:object="${user}">
		<table>
			<tr>
				<td>
					<label>Nick</label>:
					<input type="text" th:field="*{username}" /><br/>
				</td>
				<td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
			</tr>
			<tr>
				<td>
					<label>Password</label>:
					<input type="password" th:field="*{password}" /><br/>
				</td>
				<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
			</tr>
			<tr>
				<td>
					<label>Confirm Password</label>:
					<input type="password" th:field="*{confirmPassword}" /><br/>
				</td>
				<td th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Confirm Password Error</td>
			</tr>
			<tr>
				<td>
					<label>E-mail</label>:
					<input type="text" th:field="*{email}" /><br/>
				</td>
				<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">E-mail Error</td>
			</tr>
			<tr>
				<td><input type="submit" value="Register" /></td>
			</tr>
		</table>
	</form>
	</div>
	
	
	<div class="tilesContainer">
		<div sec:authorize="isAnonymous()">
		<button id="homeButton" class="ui-button ui-widget ui-corner-all">Home</button>
		<button id="aboutButton" class="ui-button ui-widget ui-corner-all">About</button>
		<button id="loginButton" class="ui-button ui-widget ui-corner-all">Sign in</button>
		</div>
		<div sec:authorize="hasRole('ROLE_USER')">
		    <a th:href="@{/cards}">Cards</a> |
			<a th:href="@{/newcard}">New Card</a> |
			<a th:href="@{/logout}">Logout</a>
		</div>
		<div class="tile" th:each="cat,iterationStatus  : ${categories}" th:text="${cat.name}">1</div>
	</div>
</body>
</html>