<!DOCTYPE html>
<html
	xmlns="http//www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
	<sec:authorize access="hasRole('ROLE_USER') && isAuthenticated()" var="isUser"></sec:authorize>
	<span id="userNick" th:text="${username}" style="display:none;">username</span>
	<header id="header" class="alt" th:include="header :: headerMenu"></header>
	<script>
		getHome();
	</script>
	<div class="container" id="container">
		<div class="menu" th:include="menu :: menuBlock"></div>
		<div class="contents" id="contents"></div>
		<div class="chatContents" id="chatContents" style="display:none;"></div>
	</div>
</body>
</html>