<!DOCTYPE html>
<html
	xmlns="http//www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Register</title>
</head>
<body>
	<header id="header" class="alt" th:include="header :: headerMenu"></header>
	<div class="container" id="container">
		<div th:include="menu :: menuBlock"></div>
		<div class="contents" id="contents">
			<form method="POST" enctype="multipart/form-data" th:object="${user}">
				<table>
					<tr>
						<td>
							<label>Nick</label>:
							<input type="text" th:field="*{username}" /><br/>
						</td>
						<td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
					</tr>
					<tr>
						<td>
							<label>Password</label>:
							<input type="password" th:field="*{password}" /><br/>
						</td>
						<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
					</tr>
					<tr>
						<td>
							<label>Confirm Password</label>:
							<input type="password" th:field="*{confirmPassword}" /><br/>
						</td>
						<td th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Confirm Password Error</td>
					</tr>
					<tr>
						<td>
							<label>E-mail</label>:
							<input type="text" th:field="*{email}" /><br/>
						</td>
						<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">E-mail Error</td>
					</tr>
					<tr>
						<td><input type="submit" value="Register" /></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>
</html>